@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.post {
    color: #d4d4dc;
    font-family: 'Open Sans', sans-serif;
    line-height: 300%
}

.post p {
    font-size: 1.5rem;
}

.post h4 {
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
}

.overall p {
    
}