footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #212529;
    color: white;
}

.footerTitle {
    text-align: center
}

.col {
    text-align: center;
}

.col p {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    text-align: center;
    cursor: pointer;
}

.icon {
    cursor: pointer;
}

